:root {
    --primary: #ddd;
    --light: #fff;
    --dark: #333;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}
.main {
    width: 100%;
    height: 200px;
}
div.body {
    width: 90%;
    height: 700px;
    background-image: url("../baseballField.jpeg");
    background-repeat: no-repeat;
    margin-left: 110px;
}
title {
    text-transform: uppercase;
}
.link {
    text-decoration: none;
    color: black;
}
.menu ol{
    display: flex;
    grid-gap: 20px;
    padding-top: 15px;
    list-style: none;
    grid-template-rows: (2, 1fr);
    margin-left: 350px;
    margin-top: 50px;
    padding-top: 50px;
}

.menu a {
    background: #348C31;
    padding-top: 50px;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    padding-top: 10px;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    width: 150px;
}

.games {
    margin-top: 100px;
    margin-left: 20px;
}

div.atBat {
    margin-top:10px;
    border-style: solid;
    width: 35%;
    height: 400px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}
button#runnerFirst {
    margin-left: 75px;
}
button#runnerSecond {
    margin-left: 75px;
}
button#runnerThird {
    margin-left: 90px;
}
button#runScored {
    margin-left: 204px;
}
button#flyoutButton {
    margin-left: 90px;
}
button#lineoutButton {
    margin-left: 85px;
}
button#errorButton {
    margin-left: 95px;
}
.scoreCell{
    background-color: white;
}

.upper {
    background-color: white;
}
.colTitle {
    padding-left: 70px;
}
.upper {
    margin-right: 90px;
    width:10px;
    background-color: white;
}

.scoreboardDiv {
    width:500px;
    height: 100%;
    margin-left: 400px;
}

table#scoreboard {
    width:500px;
    margin-bottom: 150px;
}

th.scoreCol{
    padding-left: 18px;
    text-align: center;
}

td.scoreCell {
    align-content: center;
    padding-left: 5px;
    text-align: center;
    background-color: white;
    
}

.rowTitle {    
    float:left;
    text-align: left;
}

.middle{
    width:90%;
    height:75px;
}

#result{
    display: none;
}

.bases {
    width: 200px;
    height: 175px;
    float: right;
    margin-right: 115px;
    margin-top: 25px;
}
.firstBase {
    width: 40px;
    height: 40px;
    background-color: black;
    float: right;
    transform: rotate(45deg);
    margin-top: 60px;
    margin-right: 40px;
}
.secondBase {
    width: 40px;
    height: 40px;
    background-color: black;
    float: right;
    transform: rotate(45deg);
    margin-right: 0px;
    margin-top: 20px;
}
.thirdBase {
    width: 40px;
    height: 40px;
    background-color: black;
    float: right;
    transform: rotate(45deg);
    margin-top: 60px;   
}
.homePlate {
    width: 40px;
    height: 40px;
    background-color: black;
    float: right;
    transform: rotate(45deg);
    margin-left: 10px;
    margin-right: 79px;
}
.scoreBases {
    margin-top: 25px;
    width: 100%;
    height: 175px;
    background-color: #348C31;
}

.homeTeam {
    display: block;
    margin-top: 2em;
}
#team1, #team2{
    margin-top: .5em;
}

.inning {
    float: left;
    margin-top: 25px;
    width: 100px;
    height: 175px;
    color: black;
    text-align: center;
    font-size: 50pt;
}
.num {
    height: 50px;
    width: 50px;
    margin-left: 25px;
}
#topInning {
    height: 0px;
    width: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid black;
}
.placeholderTop {
    height: 50px;
    width: 80px;
    margin-left: 10px;
}
#bottom {
    height: 0px;
    width: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 50px solid black;
    margin-left: 10px;
    margin-top: 25px;
    display: none;
}

#homeLineup {
    height: 400px;
    width: 200px;
    float: right;
    margin-top: -406px;
    margin-right: 50px;
    display: none;
    border-style: solid;
}

#visLineup {
    height: 400px;
    width: 200px;
    float: right;
    margin-top: -406px;
    margin-right: 50px;
    border-style: solid;
}
.lineups {
    float: left;
}
#lineup {
    float: right;
    border-style: solid;
    
}
#editLineups {
    float: left;
}
#onFirst {
    width: 40px;
    height: 40px;
    background-color: white;
    float: right;
    transform: rotate(45deg);
    margin-top: -80px;
    margin-right: 40px;
    display: none;
}
#onSecond {
    width: 40px;
    height: 40px;
    background-color: white;
    float: right;
    transform: rotate(45deg);
    margin-right: 80px;
    margin-top: -120px;
    display: none;
}
#onThird {
    width: 40px;
    height: 40px;
    background-color: white;
    float: right;
    transform: rotate(45deg);
    margin-top: -80px;
    margin-right: 120px; 
    display: none;
}
.recents {
    margin-left: 40%;
}
#homeTeam {
    display: none;
}
#visTeam {
    display: none;
}
.PitchCell {
    padding-right: 10px;
    text-align: center;
}
.hitterStats {
    height: 400px;
    width: 400px;
    border-style: solid;
    float: right;
    margin-top: -406px;
    margin-right: 350px;
}
.hitCell {
    text-align: center;
}